body {
  display: block;
  margin: 0px;
}

.container {
  width : 100%;
  height: 100%;
  min-width: 220px;
}

.windowFrame {
  height: calc(100vh - 50px);
}

.light {
  color           : #181818;
  background-color: rgba(0, 0, 0, 0.15);
}

.dark {
  color           : #F1F1F1;
  background-color: rgba(255, 255, 255, 0.15);
}

.header {
  display    : flex;
  align-items: center;
  height     : 50px;
  padding    : 0 10px;
}

.urlBar {
  flex         : 1;
  display      : flex;
  align-items  : center;
  border-radius: 16px;
  min-width    : 60px;
  height       : 32px;
}

.txt-elip {
  margin        : 0;
  font-size     : 14px;
  letter-spacing: 0.9px;
  font-weight   : 400;
  padding      : 10px 20px;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
}

/* .urlBar:hover {
  color           : #FFFFFF;
  background-color: rgba(255, 255, 255, 0.25);
} */

.btn {
  display        : flex;
  border         : none;
  background     : none;
  outline        : none;
  font-weight    : 400;
  width          : 30px;
  height         : 30px;
  border-radius  : 15px;
  align-items    : flex-start;
  justify-content: center;
}

.mr-rt-4 {
  margin-right: 4px;
}

.mr-lt-4 {
  margin-left: 4px;
}


.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.al-itm-c {
  align-items: center;
}

.rotated-180 {
  transform: rotate(180deg);
}

.rotated-90 {
  transform: rotate(90deg);
}

.new-window {
  font-weight: 900;
}

.new-window::after {
  content    : "\2197";
  font-size  : 13px;
  position   : absolute;
  font-weight: 900;
  margin-left: 3px;
}

.btn:hover,
.btn:active {
  cursor: pointer;
}

.btn:active {
  cursor: pointer;
}

button.light {
  background-color: rgba(0, 0, 0, 0.1);
}

button.light:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button.light:active {
  background-color: rgba(0, 0, 0, 0.3);
}

button.dark {
  background-color: rgba(255, 255, 255, 0.1);
}

button.dark:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

button.dark:active {
  background-color: rgba(255, 255, 255, 0.3);
}